@import "bootstrap";

body{
	padding-top: 70px;
}

h1{
	text-align: center;
}

#post_content{
	height: 400px !important;
}


.select {
    background-color: yellow;
}

.post-content span::selection {
  background: yellow; /* WebKit/Blink Browsers */
}
.post-content span::-moz-selection {
  background: yellow; /* Gecko Browsers */
}